

.main {
  height: 90vh;
  overflow: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.form{
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 20px;
}
.form input{
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 10px;
}
.form button{
  padding: 10px;
  width: 100px;
}
.search{
   padding: 10px;
  border: 1px solid #fff;
  border-radius: 10px;
  width: 80%;
}
.wrapper{
  width: 80%;
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
}
.detailWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex: 1;
}
.detailWrapper div:last-child{
  margin-left: auto;
}
.actions{
  display: flex;
  gap: 10px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
