.logo {
  height: 1em;
  margin-left: 0.5rem;
}
.listSection {
  display: flex;
  gap: 100px;
  margin-top: 30px;
  width: 80%;
}
.filters {
  flex: 0.2;
}
.cards {
  flex: 0.8;
}
.cardsWrapper {
  height: 67vh;
  overflow-y: auto;
  padding: 0 20px;
  margin: 20px 0;
}
.search {
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 10px;
  width: 100%;
  border: 1px solid #81b29a;
  outline: 1px solid #81b29a;
}
.select {
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 10px;
  width: 100%;
}
.resultFound {
  margin-top: 20px;
  background-color: #81b29a;
  padding: 10px;
  border-radius: 10px;
}
.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  background-color: #f8edeb;
  box-shadow: 7px 9px 25px -10px rgba(71, 71, 71, 0.79);
}
.detailWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex: 1;
}
.detailWrapper div:last-child {
  margin-left: auto;
}
.actions {
  display: flex;
  gap: 10px;
}
.actions svg {
  cursor: pointer;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
